// ========================================
// Colors
// ========================================
$black	: #212121;
$white 	: #FFFFFF;
$grey 	: #959595;
$primary: #2674b0;
$greyCopy: #898989;


$mainBarHeight: 80px;
$topBarHeight: 40px;

$headerHeight: $mainBarHeight + $topBarHeight;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px; 
$tablet  :		769px; 
$desktop : 		1000px; 
$fullhd  :		1384px; 